[Desktop Entry]
Name=Al Bayan Quran
Comment=Super Cool App that does everything
Exec=al-bayan-quran 
Icon=${SNAP}/meta/gui/al-bayan-quran.png # replace name to your app name
Terminal=false
Type=Application
Categories=Education; #adjust accordingly your snap category
